<!-- 채팅 UI -->
<div class="card direct-chat direct-chat-primary">
    <div class="card-header">
        <h3 class="card-title">웹소켓을 이용한 실시간 채팅</h3>

        <div class="card-tools" id='myRoomInfo'>
            <span data-toggle="tooltip" title="내방" class="badge badge-pill">MBC</span>
            <span data-toggle="tooltip" title="" class="badge badge-primary">tvN</span>
            <span data-toggle="tooltip" title="" class="badge badge-primary">KNN</span>
        </div>        
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="direct-chat-messages">            

        </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">        
        <div class="input-group">
            <input type="text" name="message" placeholder="Type Message ..." class="form-control">
            <span class="input-group-append">
                <button id='sendBtn' type="button" class="btn btn-primary">Send</button>
            </span>
        </div>    
    </div>
    <!-- /.card-footer-->
</div>