<nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <!-- 사이드 메뉴를 접고, 펴는 코드 -->
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
    </ul>    
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/users/logout">
                <i class="fas fa-th-large"></i>&nbsp;로그아웃
            </a>
        </li>
    </ul>
</nav>